{% extends 'base/index.html' %}

{%load static %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card" style="margin-bottom: 30%; margin-top: 20%;">
                <h2 class="card-title text-center">İndi qeydiyyatdan keçin</a></h2>
                <div class="card-body py-md-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Ad</label>
                            {{form.first_name}}
                        </div>
                        <div class="form-group">
                            <label>Soyad</label>
                            {{form.last_name}}
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            {{form.email}}
                        </div>

                        <div class="form-group">
                            <label>Şifrə</label>
                            {{form.password1}}
                        </div>
                        <div class="form-group">
                            <label>Şifrənin təkrarı</label>
                            {{form.password2}}
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between">
                            <small>Hesabınız var? <a href="{% url 'login' %}">Giriş et</a></small>
                            <button type='submit' class="btn btn-primary">Yarat</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}